footer {
    width: 100vw;
    background-color: black;
    color: white;
}

.logo{
    margin-left: 40px;
    margin-top: 10px;
}

.footer_bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 20px;
}
.footer_bottom_left{
    margin-left: 70px;
}
.footer_bottom_right{
    margin-right: 60px;
}

.footer_subheading{
    padding-top: 10px;
    padding-bottom: 10px;
    /* font-weight: 500; */
    font-size: 20px;
}

#footer_subContent{
    padding-top: 20px;
}
.footer_bottom_right > form{
    padding-bottom:20px ;
    padding-top: 10px;
}
.footer_bottom_right > form > input{
    border-radius: 10px;
    padding: 10px;
    width: 275px;
}
.footer_socialIcons{
    margin-top: 15px;
    display:flex;
    justify-content: space-between;
}
.footer_socialIcon{
    width:32px;
    height: 32px;
}